$backgroundColor: #f7f7f7;
$whiteSmoke: #f5f5f5;
$grayNurse: #e7e7e7;
$lightGray: rgba(0,0,0,0.2);
$darkGray: rgba(0,0,0,0.6);
$blackShadow: rgba(0,0,0,0.9);
$white: #ffffff;
$translucentGray:rgba(0, 0, 0, 0.5);