@import '../../styles//colors';

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $blackShadow;

  &__content {
    display: flex;
    height: 60%;

    &__icon {
      color: $whiteSmoke;
    }

    &__image {
      height: 100%;
    }
  }
}